<%EnableSessionState=False
host = Request.ServerVariables("HTTP_HOST")

if host = "ganohealthy-medellin.com" or host = "www.ganohealthy-medellin.com" then
response.redirect("https://www.ganohealthy-medellin.co")

else
response.redirect("https://www.ganohealthy-medellin.co")

end if
%>