<%EnableSessionState=False
host = Request.ServerVariables("HTTP_HOST")

if host = "ganohealthy-medellin.coms" or host = "www.ganohealthy-medellin.coms" then
response.redirect("https://www.ganohealthy-medellin.co")

else
response.redirect("https://www.ganohealthy-medellin.co")

end if
%>