
/* para crear un marco interno */

.modal0{
  padding: 3px 10px;
  border: rgb(190, 224, 216) 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.modal1{
    padding: 3px 10px;
    border: rgb(175, 175, 175) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(241, 246, 247);
  }
 
  .modal2{
    padding: 3px 10px;
    border: rgb(224, 157, 154) 5px double;
    border-radius: 50px;
    
  }

  .responsive {
  width: 100%;
  height: auto;
}