
.navbarGeneral{
   
    font-size: 21px; /* TAMAÑO LETRA */
    font-family: estiloTitulo;
 

    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

#llamado-accion{

    background: rgba(235,233,249,1);
background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(42%, rgba(216,208,239,1)), color-stop(56%, rgba(206,199,236,1)), color-stop(89%, rgba(196,193,235,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}

@font-face{

    font-family: estiloTitulo; 
    src: url(Million\ Dreams.otf);
    
}
.imagenLogo{
    margin:auto;
	text-align:center;
}




.Tabla1{
    position: fixed;
   
 
   
}

.imagen2 img{
    height:500px ;
    width: 400px;

}

.imagen3 img{
    height: 170px;
    width: 200px;


    
}

.imagen4 img{
    height: 70px;
    width: 100px;


    
}

.imagen5 img{
    height: 130px;
    width: 100px;


    
}

.imagen6 img{
    height: 300px ;
    width: 300px;

}

#card1{
    
    width: 50;
    height: 50;

    background: rgba(243,248,242,1);
    background: -moz-linear-gradient(top, rgba(243,248,242,1) 0%, rgba(219,231,217,1) 32%, rgba(184,207,181,1) 51%, rgba(228,249,226,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,248,242,1)), color-stop(32%, rgba(219,231,217,1)), color-stop(51%, rgba(184,207,181,1)), color-stop(100%, rgba(228,249,226,1)));
    background: -webkit-linear-gradient(top, rgba(243,248,242,1) 0%, rgba(219,231,217,1) 32%, rgba(184,207,181,1) 51%, rgba(228,249,226,1) 100%);
    background: -o-linear-gradient(top, rgba(243,248,242,1) 0%, rgba(219,231,217,1) 32%, rgba(184,207,181,1) 51%, rgba(228,249,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,248,242,1) 0%, rgba(219,231,217,1) 32%, rgba(184,207,181,1) 51%, rgba(228,249,226,1) 100%);
    background: linear-gradient(to bottom, rgba(243,248,242,1) 0%, rgba(219,231,217,1) 32%, rgba(184,207,181,1) 51%, rgba(228,249,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f8f2', endColorstr='#e4f9e2', GradientType=0 );
}


#card2{


  /*   background: rgba(235,233,249,1);
background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(42%, rgba(216,208,239,1)), color-stop(56%, rgba(206,199,236,1)), color-stop(89%, rgba(196,193,235,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 56%, rgba(196,193,235,1) 89%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 ); */


}
.imagenLogo img{
    display: flex;
    flex-wrap: wrap;
    justify-content: justify;
        height:120px ;
        width: 200px;
        border-radius: 100%;
        border: 1px solid beige;

}

#inicio{
background: url("https://morfeo12345678.s3-sa-east-1.amazonaws.com/fotos+ganoderma/bg-breadcrumbl+largo.jpg");
background-repeat: no-repeat;
background-size: cover;

}

.jumbotron{
   
    
    background: rgba(0,0,0, 0.2);
    color: rgba(241,254,231,1);
}
#footer{

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}
/* .disabledCursor { 
    cursor: default;
  } */

