#inicio{
background: url("https://res.cloudinary.com/dhiasghho/image/upload/v1623369446/logos%20base/FotoJet_b1nvah.png")
no-repeat fixed center rgb(228, 223, 223);
background-size:cover;

}



@media screen and (min-width:993px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
    .marco1{
        height: 230px;    
        border: 2px solid black;
        
           
        }
}
@media screen and (max-width:992px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
    .marco1{
           
        border: 2px solid black;
        
           
        }
}

  

.navprincipal{ 
    position:relative;
   
    top:60px;
    z-index:1; /* pocision de una imagen sobre otra */
   
   }


   /* para reducir la barrar navar */
   .navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; padding-bottom:0 !important;
    height: 40px; /* aqui escoges el alto que necesites */
}
.navbar {
    min-height:20px !important; /* aqui escoges el alto que necesites */
}



/*INICIO POCISION DEL LOGO PRICIPAL EN LAS DIFERENTES ESOLUCIONES*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width:992px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
    .imagenLogo1{ position:relative;
        z-index:2; /* pocision de una imagen sobre otra */
       
        
        float: left;  /* se hubique siempre a la derecha */
       
      
     
       }
       
     
        }
@media screen and (max-width:991px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
    .imagenLogo1{ position:relative;
        z-index:2; /* pocision de una imagen sobre otra */
        transform: scale(0.8, 0.8);
        
        float: left;  /* se hubique siempre a la derecha */
       
      
     
       }
       
     
        }

        @media screen and (max-width:575px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
            .imagenLogo1{
                position:absolute;
                z-index:2; /* pocision de una imagen sobre otra */
                margin-left: 9.5pc;
                transform: scale(0.6, 0.6);
               
              
            }
        }

        @media screen and (max-width:414px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
            .imagenLogo1{
                position:absolute;
                z-index:2; /* pocision de una imagen sobre otra */
                margin-left: 8pc; /* MOVER IMAGEN A LA DERECHA */
                transform: scale(0.6, 0.6);
               
              
            }
        }

        @media screen and (max-width:376px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
            .imagenLogo1{
                position:absolute;
                z-index:2; /* pocision de una imagen sobre otra */
                margin-left: 6pc;
                transform: scale(0.6, 0.6);
               
              
            }
        }
        /* PARA IPHONE 5SE */
        @media screen and (max-width:320px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
            .imagenLogo1{
                position:absolute;
                z-index:2; /* pocision de una imagen sobre otra */
                margin-left: 4.5pc;
                transform: scale(0.6, 0.6);
               
              
            }
        }
        /* POCISION DEL LOGO PRICIPAL EN LAS DIFERENTES POCIONES*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.navbarGeneral {

    background: rgb(141, 163, 70);
    opacity: 0.9;
} 

#footer {

    background: rgb(160, 179, 98);


}

.piedepagina {

    background: rgb(134, 156, 60);


}

#llamado-accion {

    background: rgba(244, 248, 225);

}


.imagenLogo {
    width: 100%;
  height: auto;
}




.Tabla1 {
    position: fixed;



}

.imagen2 img {
    height: 500px;
    width: 400px;

}

.imagen3 img {
    height: 170px;
    width: 200px;



}

.imagen4 img {
    height: 70px;
    width: 100px;



}

.imagen5 img {
    height: 80px;
    width: 80px;



}

.imagen6 img {
    height: 300px;
    width: 300px;

}

#card1 {

    width: 50;
    height: 50;

    background: rgba(243, 248, 242, 1);
    background: -moz-linear-gradient(top, rgba(243, 248, 242, 1) 0%, rgba(219, 231, 217, 1) 32%, rgba(184, 207, 181, 1) 51%, rgba(228, 249, 226, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 248, 242, 1)), color-stop(32%, rgba(219, 231, 217, 1)), color-stop(51%, rgba(184, 207, 181, 1)), color-stop(100%, rgba(228, 249, 226, 1)));
    background: -webkit-linear-gradient(top, rgba(243, 248, 242, 1) 0%, rgba(219, 231, 217, 1) 32%, rgba(184, 207, 181, 1) 51%, rgba(228, 249, 226, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 248, 242, 1) 0%, rgba(219, 231, 217, 1) 32%, rgba(184, 207, 181, 1) 51%, rgba(228, 249, 226, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 248, 242, 1) 0%, rgba(219, 231, 217, 1) 32%, rgba(184, 207, 181, 1) 51%, rgba(228, 249, 226, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 248, 242, 1) 0%, rgba(219, 231, 217, 1) 32%, rgba(184, 207, 181, 1) 51%, rgba(228, 249, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f8f2', endColorstr='#e4f9e2', GradientType=0);
}




.imagenLogo img {
    
    flex-wrap: wrap;
    justify-content: justify;


}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*INICIO REDES SOCIALES */

/* EFECTO QUE QUEDE A LA DERECHA Y FLOTANTE */
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 2rem; /* tamaño de los iconos */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}
/* COLOR DE LOS ICONOS */
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}
/* FONDO DE LA PALETA  */
.icon-facebook {
	background: #2E406E;
}

.icon-whatshap {
	background: #47c727;
}

.icon-subir {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

/* EL PRIMERO DE EL EFECTO REDONDEADO SE REDONDEE */
.icon:first-child {
	border-radius: 1rem 0 0 0;
}
/* EL ULTIMO DE EL EFECTO REDONDEADO SE REDONDEE */
.icon:last-child {
	border-radius: 0 0 0 1rem;
}
/* AL SALIR EL ICONO SE REDONDEE TODO */
.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.822);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*FINAL REDES SOCIALES */

.swiper-container {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
  
  }

  .swiper-slide {
    background-position: center;
    background-size: center;
    width: 300px;
    height:300px;
  }

  .swiper-slide img {
    display: block;
    width: 90%;
  }